@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    font-size: 10px;
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    padding: 3rem 11rem;
}

.hidden {
    visibility: hidden;
}
.reveal {
    visibility: visible;
}

header {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    width: 100%;
    height: min-content;
    min-height: 8rem;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 15%;
            font-size: 3rem;
            font-weight: bold;

            i {
                color: #d6336c;
            }
        }

        .search {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 67rem;
            height: 5rem;
            background: #f5f7f8;
            padding: 0.5rem 3rem ;
            border-radius: 0.8rem;
            
            input {
                width: 100%;
                height: 100%;
                background: #f5f7f8;
                font-size: 1.8rem;
                font-weight: bold;
                color: #ACB3B6;
                outline: none;
            }
            i {
                position: relative;
                font-size: 1.8rem;
                color: #2D2E2E;
            }

        }
    
        button {
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 12rem;
                height: 4rem;
                background: #FFFFFF;
                box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2), 5px -5px 10px rgba(220, 220, 220, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 220, 220, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 220, 220, 0.5);
                border-radius: 1rem;
        
                font-size: 2rem;
                font-weight: bold;
                color: #2A4383;

                &:hover {
                    transform: scale(1.05);
                }
        }
    
        .user {
            display: flex;
    
            .user-pic {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                align-self: center;
            }
    
            .user-name {
                width: 100%;
                padding: 1rem;
                font-size: 2.5rem;
                font-weight: bold;
                color: #2A4383;
                align-self: center;
            }
        }
    }

    nav {
        display: flex;
        width: 67rem;
        justify-content: center;
        margin: 0 auto;

        ul {
            display: flex;
            width: 100%;
            list-style-type: none;
            justify-content: space-evenly;
            
            li {
                font-size: 2.1rem;
                font-weight: 500;
                color: #A3AAB4;
                margin: 1rem;

                &:hover {
                    color:#554F95;
                }
            }
        }
    }
}

.content {
    width: 100%;

    .category-name {
        font-size: 3rem;
        color: #333333;
        margin: 2rem 0;
    }
    
    .modal {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 3rem;

        width: 60rem;
        height: min-content;
        background: #F5F7F8;
        border-radius: 2rem;
        padding: 2rem 3rem;
        box-shadow: -10px 10px 20px rgba(221, 221, 221, 0.2), 10px -10px 20px rgba(221, 221, 221, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);


        .title {
            font-size: 2rem;
            font-weight: 600;
            color: #FE5454;
            text-align: center;
            width: 100%;
        }

        .cover {
            flex: 1;
            height: 22rem;
            width: min-content;

            img {
                height: 100%;
            }
        }

        .info-add {
            flex: 3;
            display: flex;
            flex-flow: column;

            > * {
                color: #ACB3B6;
                font-size: 1.6rem;
                font-weight: bold;
                appearance: none;
                padding: 0.5rem;
                margin: 0.5rem 0;
                border: solid 0.2rem #CDDEE2;
                border-radius: 0.8rem;
            }

            button {
                color: #ffffff;
                background: #FE5454;
            }
        }

        .info-view {
            flex: 3;
            display: flex;
            flex-flow: column;
            padding: 1rem 0;

            .view-delete {
                display: flex;
                color: #ffffff;
                background: #FE5454;
                font-size: 1.2rem;
                width: 5rem;
                border-radius: 0.4rem;
                justify-content: center;
                align-self: flex-end;
            }
                
            .view-title {
                color: #000000cd;
                font-size: 2.4rem;
                font-weight: 600;
            }
            
            .view-author {
                color: #949494;
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }

            .view-status {
                display: flex;
                width: 15rem;
                height: 3rem;
                color: #9a9a9a;
                font-size: 1.5rem;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: #ffffff;
                box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
                border-radius: 0.6rem;
                appearance: none;
            }
        }
    }

    .books {
        display: grid;
        grid-template-columns: repeat(auto-fit, 18rem);
        grid-auto-rows: min-content;
        gap: 4rem;

        .add-book {
            width: 18rem;
            height: 24rem;
            align-items: center;
            justify-content: center;
            background: #C4C4C4;

            i {
                font-size: 5rem;
                color: #FFFFFF;
            }
        }

        div {
            display: flex;
            flex-flow: column;
            border-radius: 1rem;

            .book-cover {
                width: 18rem;
                height: 24rem;
                border-radius: 1rem;
            }

            .book-title {
                font-size: 2rem;
                font-weight: 500;
                color: #2D2D2D;
                margin: 1rem 0 0.2rem 0;
            }

            .book-author {
                font-size: 1.5rem;
                font-weight: 500;
                color: #B5B5B5;
            }
        }

    }
}